* {
  color: #1d3557;
  /* background-image: url("https://images.unsplash.com/photo-1509624776920-0fac24a9dfda?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80"); */
}

.navbar {
  background-color: #d0e2ff;
  font-family: 'Courgette', cursive;
  font-family: 'Crimson Text', serif;
  font-size: 24px;
  color: white;
  font-weight: 600;
}

.title {
  font-family: 'Courgette', cursive;
  font-family: 'Crimson Text', serif;
  font-weight: 900;
}

.btn1 {
  background-color: #ffadad;
  border: none;
  width: 200px;
}
.delete {
  background-color: #ffadad;
  border: none;
  float: right;
}

.edit {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  float:right
}

.edit:hover, .btn1:hover, .delete:hover {
  background-color: #a0c4ff ;
}

.cardclass {
  background-color: rgba(255, 255, 255, 0.4);
}

.selectsingle {
  font-size: 50px;
}